@use "../_vars/variables" as *;
@use "../_vars/colours" as *;

.box-box-container {
    border: 1px solid $checkbox-border-colour;
    border-radius: 3px;

    &__add_symbol {
        display: flex;
        justify-content: center;
        align-content: center;
        line-height: 20px;
    }
}

.box-box {
    // line-height:0;
    width: 0;
    // border: 1px;
    border-radius: 2px;

    &__locked {
        background-color: $post-primary-colour;
    }

    &__empty {
        border-top: $checkbox-width solid transparent;
        border-right: $checkbox-width solid transparent;
    }

    &__half {
        border-top: $checkbox-width solid $checkbox-fill;
        border-right: $checkbox-width solid transparent;
    }

    &__full {
        width: $checkbox-width;
        height: $checkbox-width;
        background-color: $checkbox-fill;
        // border-top: $checkbox-width solid $checkbox-fill;
        // border-right: $checkbox-width solid $checkbox-fill;
    }
}
