@use "../_vars/_variables" as *;
@use "../_vars/_fonts" as *;

// .category{
//     grid-column: span 2;
//     display: grid;
//     grid-template-columns: 1fr repeat(15, 1fr); // hmm
//     gap: 0.5rem;
// }

.category-title {
    // width: $title-bar-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: right;
    display: flex;
    // margin: 0 32px 0 0;
    padding-right: 10px;
    font-size: $category-title-size;
    font-weight: $font-weight-bold;
}

.new-habit {
    // width: $title-bar-width;
    // display: flex;
    // justify-content: right;
}

.new-habit-input {
    flex: 1;
    min-width: 60px;
    max-width: 100px;
}
