@use "../_vars/colours" as *;
@use "../_vars/variables" as *;
.checkbox-container {
  // line-height:0;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-inner {
  display: inherit;
  align-items: inherit;
  justify-content: center;
}
