@use "../_vars/variables" as *;

.new-category {
    // width: $title-bar-width;
    display: flex;
    justify-content: right;
}

.new-category-input {
    flex: 1;
    min-width: 60px;
    max-width: 100px;
}
