@use "../_vars/colours" as *;

.input {
    background-color: $primary-colour;
    color: $secondary-colour;
    box-shadow: none;
    border: 1px solid;
    border-radius: 5px;
    border-color: $accent-colour;
}

.c-btn {
    background-color: $primary-colour;
    border-radius: 5px;
    color: $secondary-colour;
    border: 1px solid;
    border-color: $tertiary-colour;
}
