@use "../_vars/colours" as *;
@use "../_vars/variables" as *;

.row {
    // display: flex;
    // flex-direction: row;
}

.row-title {
    // width: $title-bar-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: right;
    display: flex;
    // margin: 0 32px 0 0;
}
