$darkest-grey: #202020;
$dark-grey: #383838;
$grey: #434343;
$off-grey: #505050;
$light-grey: #545454;
$lightest-grey: #565656;
$white: #ffffff;
$black: #000000;
$green: #004e07;
$light-green: #006909;

$checkbox-fill: $darkest-grey;
$checkbox-border-colour: $dark-grey;

$body-bg: $lightest-grey;
$body-colour: $white;
$anchor-colour: $green;
