$off-grey: #505050; // todo replace with darker version of secondary

// light
$post-primary-colour: hsl(170, 30%, 70%);
$primary-colour: hsl(170, 50%, 90%);
$pre-primary-colour: hsl(170, 50%, 95%);
$secondary-colour: hsl(170, 50%, 10%);
$tertiary-colour: hsl(230, 80%, 20%);
// $accent-colour: hsl(110, 80%, 20%);
$accent-colour: hsl(230, 80%, 20%); // same as tertiary because i didnt like it

// dark
$dark-primary-colour: hsl(170, 50%, 10%);
$dark-secondary-colour: hsl(170, 50%, 90%);
$dark-tertiary-colour: hsl(230, 80%, 80%);
$dark-accent-colour: hsl(110, 80%, 80%);

$checkbox-fill: $accent-colour;
$checkbox-border-colour: $post-primary-colour;

$body-bg: $primary-colour;
$body-colour: $secondary-colour;
$anchor-colour: $tertiary-colour;

$today: green;
